apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "op-succinct.fullname" . }}-env
data:
  SP1_PROVER: "network"
  AGG_PROOF_MODE: "plonk"
  {{- with .Values.config}}
  {{- with .endpoints}}
  {{- if .l1_execution}}
  L1_RPC: "{{ .l1_execution }}"
  {{- end }}
  {{- if .l1_consensus }}
  L1_BEACON_RPC: "{{ .l1_consensus }}"
  {{- end }}
  L2_RPC: "{{ .l2_execution }}"
  {{- if .l2_consensus }}
  L2_NODE_RPC: "{{ .l2_consensus }}"
  {{- end }}
  EIGENDA_PROXY_ADDRESS: "{{ .eigenda_proxy }}"
  {{- end}}
  GAME_TYPE: "42"
  {{- with .game}}
  FACTORY_ADDRESS: "{{ .dispute_game_factory_address }}"
  {{- if eq $.Values.mode "challenger" }}
  {{- if .malicious_challenge_percentage }}
  MALICIOUS_CHALLENGE_PERCENTAGE: "{{ .malicious_challenge_percentage }}"
  {{- end }}
  {{- end }}
  {{- end}}
  {{- with .intervals}}
  {{- if eq $.Values.mode "proposer" }}
  {{- if .proposal }}
  PROPOSAL_INTERVAL_IN_BLOCKS: "{{ .proposal}}"
  {{- end }}
  {{- end }}
  FETCH_INTERVAL: "{{ .fetch }}"
  {{- end}}
  {{- with .remote_signing}}
  {{- if .endpoint }}
  SIGNER_URL: "{{ .endpoint }}"
  {{- end }}
  {{- if .signer_address }}
  SIGNER_ADDRESS: "{{ .signer_address }}"
  {{- end }}
  {{- end}}
  {{- if .metrics.enabled }}
  {{ include "op-succinct.metricsPortName" $ }}: "{{.metrics.port | default 7300}}"
  {{- end}}
  {{- end}}
