apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "op-succinct.fullname" . }}-env
data:
  SP1_PROVER: "network"
  {{- with .Values.config}}
  {{- with .endpoints}}
  {{- if .l1_execution}}
  L1_RPC: "{{ .l1_execution }}"
  {{- end }}
  {{- if .l1_consensus }}
  L1_BEACON_RPC: "{{ .l1_consensus }}"
  {{- end }}
  L2_RPC: "{{ .l2_execution }}"
  {{- if .l2_consensus }}
  L2_NODE_RPC: "{{ .l2_consensus }}"
  {{- end }}
  EIGENDA_PROXY_ADDRESS: "{{ .eigenda_proxy }}"
  {{- end}}
  GAME_TYPE: "42"
  {{- with .game}}
  FACTORY_ADDRESS: "{{ .dispute_game_factory_address }}"
  {{- if eq $.Values.mode "challenger" }}
  {{- if .malicious_challenge_percentage }}
  MALICIOUS_CHALLENGE_PERCENTAGE: "{{ .malicious_challenge_percentage }}"
  {{- end }}
  {{- if .disable_monitor_only }}
  DISABLE_MONITOR_ONLY: {{ .disable_monitor_only | quote }}
  {{- end }}
  {{- end }}
  {{- end}}
  {{- with .intervals}}
  {{- if eq $.Values.mode "proposer" }}
  {{- if .proposal }}
  PROPOSAL_INTERVAL_IN_BLOCKS: "{{ .proposal}}"
  {{- end }}
  {{- end }}
  FETCH_INTERVAL: "{{ .fetch }}"
  {{- end}}
  {{- if eq $.Values.mode "proposer" }}
  {{- with .proof}}
  {{- if .agg_proof_mode }}
  AGG_PROOF_MODE: {{ .agg_proof_mode | quote }}
  {{- end }}
  {{- if .max_concurrent_range_proofs }}
  MAX_CONCURRENT_RANGE_PROOFS: {{ .max_concurrent_range_proofs | quote}}
  {{- end }}
  {{- if .range_split_count }}
  RANGE_SPLIT_COUNT: {{ .range_split_count | quote}}
  {{- end }}
  {{- if .range_gas_limit }}
  RANGE_GAS_LIMIT: {{
    include "op-succinct.decimalString" (dict "name" "range_gas_limit" "value" .range_gas_limit) | quote
  }}
  {{- end }}
  {{- if .agg_cycle_limit }}
  AGG_CYCLE_LIMIT: {{
    include "op-succinct.decimalString" (dict "name" "agg_cycle_limit" "value" .agg_cycle_limit) | quote
  }}
  {{- end }}
  {{- if .agg_gas_limit }}
  AGG_GAS_LIMIT: {{
    include "op-succinct.decimalString" (dict "name" "agg_gas_limit" "value" .agg_gas_limit) | quote
  }}
  {{- end }}
  {{- if .timeout }}
  TIMEOUT: "{{ .timeout }}"
  {{- end }}
  {{- end }}
  {{- end }}
  {{- with .remote_signing}}
  {{- if .endpoint }}
  SIGNER_URL: "{{ .endpoint }}"
  {{- end }}
  {{- if .signer_address }}
  SIGNER_ADDRESS: "{{ .signer_address }}"
  {{- end }}
  {{- end}}
  {{- with .google_kms_signing}}
  {{- if and
      (not (empty .keyring))
      (not (empty .location))
      (not (empty .project_id))
      (not (empty .hsm_key_name))
      (not (empty .hsm_key_version))
  }}
  GOOGLE_KEYRING:   {{ .keyring | quote }}
  GOOGLE_LOCATION:  {{ .location | quote }}
  GOOGLE_PROJECT_ID:   {{ .project_id | quote }}
  HSM_KEY_NAME:  {{ .hsm_key_name | quote }}
  HSM_KEY_VERSION:   {{ .hsm_key_version | quote }}
  {{- end }}
  {{- end }}
  {{- if .metrics.enabled }}
  {{ include "op-succinct.metricsPortName" $ }}: "{{.metrics.port | default 7300}}"
  {{- end}}
  {{- end}}

