apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "op-succinct.fullname" . }}
  labels:
    {{- include "op-succinct.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "op-succinct.fullname" . }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "op-succinct.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- if and .Values.podAnnotations (not (empty .Values.podAnnotations)) }}
        {{- toYaml .Values.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.config.metrics.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.config.metrics.port }}"
        prometheus.io/path: "/metrics"
      {{- end }}
      labels:
        {{- include "op-succinct.labels" . | nindent 8 }}
        {{- if and .Values.podLabels (not (empty .Values.podLabels)) }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- if and .Values.imagePullSecrets (not (empty .Values.imagePullSecrets)) }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "op-succinct.serviceAccountName" . }}
      {{- if not ( empty .Values.podSecurityContext ) }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end}}
      containers:
        - name: {{ .Chart.Name }}
          command:
            - /bin/sh
            - -c
          args:
            - |
              exec {{ include "op-succinct.binaryName" . }}
          envFrom:
            - configMapRef:
                name: {{ include "op-succinct.fullname" . }}-env
            {{- with .Values.config.secret_env.existing_name}}
            # the secret ref comes later, so that eventual 
            # overwrites from the secret ref win
            - secretRef:
                name: {{ . }}
                optional: true
            {{- end}}
            # now finally the secret env-overwrites take precedence
            {{- if and .Values.config.secret_env.overwrites (not (empty .Values.config.secret_env.overwrites)) }}
            - secretRef:
                name: {{ include "op-succinct.fullname" . }}-env-overwrites
                optional: true
            {{- end }}
          {{- if not ( empty .Values.securityContext ) }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.config.metrics.enabled}}
          ports:
            - name: metrics
              containerPort: {{ .Values.services.metrics.port | default 7300 }}
              protocol: TCP
          {{- end }}
          {{- if and .Values.livenessProbe (not (empty .Values.livenessProbe)) }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if and .Values.readinessProbe (not (empty .Values.readinessProbe)) }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if and .Values.resources (not (empty .Values.resources)) }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      enableServiceLinks: {{ .Values.enableServiceLinks }}
      {{- if and .Values.nodeSelector (not (empty .Values.nodeSelector)) }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if and .Values.affinity (not (empty .Values.affinity)) }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      {{- if and .Values.tolerations (not (empty .Values.tolerations)) }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
