---
testMode: mixed
extraArgs:
  - --total-tx-gas 100000
  - --max-gas-price 25000000000
replicas: 0
threads: 30
# For multi-cluster setups
initialCount: 0
web3Provider: http://localhost:8545
generatePrivateKeys: true
useRandomRecipient: false
blockscout:
  measurePercent: 0
  url: https://globaltestnet-blockscout.global-testnet-us-west1.blockchaintestsglobaltestnet.org
bootnodeIpAddress: 34.83.130.228
celotool:
  image:
    repository: gcr.io/celo-testnet/celo-monorepo
    tag: celotool-a829487e24d0295247d5f78e98dee2abf8554947
delay: 0
genesis:
  network: globaltestnet
  useGenesisFileBase64: false
  genesisForceUrl: https://gist.githubusercontent.com/jcortejoso/eba86918c7b7c7546589edd9a32f1f08/raw/b564a1cb50c1fb5261ea5238b0c0b2d055af9ba4/genesis.json
geth:
  image:
    repository: us.gcr.io/celo-org/geth
    tag: 1.8.9
  networkID: '9099000'
  staticNodes: ''
  verbosity: 1
imagePullPolicy: Always
# -- Secrets for the accounts
secrets:
  # Configure mnemonic and accountSecret if want to create a new secret
  # -- Mnemonic to use for the accounts
  mnemonic: girl beauty clarify deliver force dynamic wonder shoe install erosion rib
    resource cannon topple prevent slot brown zero banana exercise quiz spot mercy misery
  # -- Password to use for the accounts
  accountSecret: password
  # -- *Use an existing secret instead*. Name of the *existing* secret.
  existingSecret: ""
  # -- Key of the *existing* secret for the mnemonic.
  mnemonicKey: mnemonic
  # -- Key of the *existing* secret for the accountSecret.
  accountSecretKey: secret
