{{- if or .Values.secrets.jwt.value .Values.secrets.nodeKey.value }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "op-geth.fullname" . }}
  labels:
    {{- include "op-geth.labels" . | nindent 4 }}
data:
  {{- with .Values.secrets.nodeKey.value}}
  jwt: {{ toString . | b64enc | quote }}
  {{- end }}
  {{- with .Values.secrets.nodeKey.value }}
  nodeKey: {{ toString . | b64enc | quote }}
  {{- end }}
{{- end }}
