{{- range $index, $e := until (.Values.replicas.txNodes | int) -}}
{{- /*
We cannot use `ternary` or other workarounds because go templates evaluates
all the expressions: https://github.com/Masterminds/sprig/issues/271
*/}}
{{- $loadBalancerIP := "" -}}
{{- if gt (len $.Values.geth.txNodesIPAddressArray) $index -}}
{{- $loadBalancerIP = index $.Values.geth.txNodesIPAddressArray $index -}}
{{- end -}}
{{- $loadBalancerType := ternary "LoadBalancer" "ClusterIP" (ne $loadBalancerIP "") -}}
{{- template "celo.node-service" (dict "Values" $.Values "Release" $.Release "Chart" $.Chart "index" $index "service_type" $loadBalancerType "svc_name" "service" "node_name" "tx-nodes" "component_label" "tx_nodes" "load_balancer_ip" $loadBalancerIP ) }}
  ports:
  - name: discovery
    port: 30303
    protocol: UDP
---
{{- template "celo.node-service" (dict "Values" $.Values "Release" $.Release "Chart" $.Chart "index" $index "service_type" $loadBalancerType "svc_name" "service" "node_name" "tx-nodes" "svc_name_suffix" "-tcp" "component_label" "tx_nodes" "load_balancer_ip" $loadBalancerIP ) }}
  ports:
  - name: celo
    port: 30303
    protocol: TCP
  - name: rpc
    port: 8545
    protocol: TCP
  - name: ws
    port: 8546
    protocol: TCP
---
{{- end }}
