---
replicaCount: 1
podManagementPolicy: Parallel
nodeSelector: {}
affinity: {}
tolerations: []

init:
  image:
    repository: alpine
    tag: 3.23
    pullPolicy: IfNotPresent
  rollup:
    url: https://storage.googleapis.com/cel2-rollup-files/dango/rollup.json

image:
  repository: us-west1-docker.pkg.dev/blockchaintestsglobaltestnet/dev-images/op-conductor
  tag: c3afe7339063fd6912703ca0cd2490582da1f3c4
  pullPolicy: IfNotPresent

updateStrategy:
  type: RollingUpdate

statefulset:
  annotations: {}
  podAnnotations: {}
  labels: {}

config:
  execution:
    # execution engine (op-geth) rpc endpoint
    rpc: http://op-geth:8545
    protocol: ""                             # Used for multiReplica. Leave url empty if using multiReplica
    namePattern: ""                          # Used for multiReplica. Set to the op-geth sts name pattern. Example: "op-geth-validator-authrpc"
    port: ""                                 # Used for multiReplica. Port of op-geth L2 node with multiReplica
  node:
    rpc: http://op-node:8547
    protocol: ""                             # Used for multiReplica. Leave url empty if using multiReplica
    namePattern: ""                          # Used for multiReplica. Set to the op-node sts name pattern. Example: "op-geth-validator-authrpc"
    port: ""                                 # Used for multiReplica. Port of op-node L2 node with multiReplica
  consensus:
    port: 50050
  rpc:
    enableAdmin: false
    enableProxy: true
    addr: 0.0.0.0
    port: 8545
  raft:
    forceBootstrap: false
    server:
      id: ""
  healthcheck:
    interval: 10
    minPeerCount: 1
    safeEnabled: false
    safeInterval: 1200
    unsafeInterval: 10000
  log:
    format: json
    level: INFO
  metrics:
    enabled: true
    addr: 0.0.0.0
    port: 7300
  network: ""
  paused: false
podSecurityContext: {}

persistence:
  type: pvc
  pvc:
    size: 1Gi
    accessMode: ReadWriteOnce
    storageClass: ""
    annotations:
      # resize.topolvm.io/increase: 1Gi
      # resize.topolvm.io/storage_limit: 5Gi
      # resize.topolvm.io/threshold: 10%
      # resize.topolvm.io/inodes-threshold: 5%
  mountPath: /raft

services:
  rpc:
    type: ClusterIP
    loadBalancerIPs: []
    clusterIPs: []
    port: 8545
    annotations: {}
    publishNotReadyAddresses: true
  consensus:
    type: ClusterIP
    loadBalancerIPs: []
    clusterIPs: []
    port: 50050
    annotations: {}
    publishNotReadyAddresses: true
