---
replicaCount: 2
secrets:
  jwt:
    value: "1010101010101010101010101010101010101010101010101010101010101010, 1010101010101010101010101010101010101010101010101010101010101012"
  nodeKeys:
    value: "1010101010101010101010101010101010101010101010101010101010101010, 1010101010101010101010101010101010101010101010101010101010101012"
extraArgs:
  - --gpo.blocks=10
