{{- if not .Values.snapshot.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-{{ .Release.Name }}-op-geth-0
  labels:
    {{- include "sync-test.labels" . | nindent 4 }}
  annotations:
    resize.topolvm.io/increase: "10%"
    resize.topolvm.io/inodes-threshold: "10%"
    resize.topolvm.io/storage_limit: "4000Gi"
    resize.topolvm.io/threshold: "10%"
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: {{ (index .Values "op-geth").persistence.pvc.storageClass }}
  resources:
    requests:
      storage: {{ (index .Values "op-geth").persistence.pvc.size }}
{{- end }}
